{% extends "bases/base.html" %}

{% load static %}





{% block 'head' %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


{% endblock 'head' %}






{% block 'conteudo' %}

{% comment %} <div class="container">
    <h2>Lista de Séries Educacionais</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nome da Série</th>
                <th>Modalidade de Ensino</th>
                <th>Ano de Início</th>
                <th>Número de Alunos</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1ª Série</td>
                <td>Ensino Fundamental</td>
                <td>2023</td>
                <td>25</td>
                <td>
                    <i class="fas fa-edit text-primary"></i>
                    <i class="fas fa-trash text-danger"></i>
                </td>
            </tr>
            <tr>
                <td>5ª Série</td>
                <td>Ensino Fundamental</td>
                <td>2023</td>
                <td>30</td>
                <td>
                    <i class="fas fa-edit text-primary"></i>
                    <i class="fas fa-trash text-danger"></i>
                </td>
            </tr>
            <!-- Adicione mais linhas conforme necessário -->
        </tbody>
    </table>
</div> {% endcomment %}

<div class="container">
    <h2>Lista de Séries</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome da Série</th>
                <th>Modalidade de Ensino</th>
                <th>Ano de Início</th>
                <th>Número de Alunos</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Linha 1 -->
            <tr>
                <td>Série A</td>
                <td>Ensino Fundamental</td>
                <td>2020</td>
                <td>30</td>
                <td>
                    <a href="#" class="btn btn-warning btn-sm">Editar</a>
                    <a href="#" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>

            <!-- Linha 2 -->
            <tr>
                <td>Série B</td>
                <td>Ensino Médio</td>
                <td>2019</td>
                <td>25</td>
                <td>
                    <i class="fas fa-edit text-primary"></i>
                    <i class="fas fa-trash text-danger"></i>
                </td>
            </tr>

            <!-- Adicione mais linhas conforme necessário -->
        </tbody>
    </table>
</div>


{% endblock 'conteudo' %}