{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'geral/geral.css' %}">
{% endblock 'head' %}


{% block 'conteudo' %}
<div class="container">
    <h2>Login</h2>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Nome de usuário</label>
            <input type="text" class="form-control" id="username" name="nome_usuario" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" name="senha" required>
        </div>
    
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>

{% endblock 'conteudo' %}