{% extends "bases/base.html" %}

{% block 'conteudo' %}

<div class="container">
    {% if messages %}
    
        {% for message  in messages  %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    
    {% endif %}
        <h2>Cadastro</h2>
        <form action="{%url 'cadastrar_usuario'%}" method="POST"> {% csrf_token %}
            <div class="mb-3">
                <label for="firstName" class="form-label">Nome</label>
                <input type="text" class="form-control" id="firstName" name="nome" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" id="lastName" name="sobrenome" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Nome de Usuário</label>
                <input type="text" class="form-control" id="username" name="nome_de_usuario" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf" required>
            </div>
            <div class="mb-3">
                <label for="matricula" class="form-label">Matricula - sem digito</label>
                <input type="number" class="form-control" id="matricula" name="matricula" required>
            </div>
            
            <h3>Escolha suas funções</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="tipos" class="form-label">Funções disponíveis</label>
                        <select multiple class="form-select form-control" id="tipos" name="tipos">
                            {% for  tipo in tipos%}
                            <option value="{{tipo.funcao}}">{{tipo.get_funcao_display}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="senha" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Confirmar senha</label>
                <input type="password" class="form-control" id="password" name="confirma_senha" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

{% endblock 'conteudo' %}

